.login-container {
    max-width: 600px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    color: darkslategrey;
  }
  .logo img {
    width: 50%;
    height: auto;
  }

  .signup {
    text-align: center;
    margin-top: 40px;
  }

  .display-msg {
    padding: 20px;
    color: darkred;
    font-weight: 600;
  }

  .display-loading {
    padding: 20px;
  }