
.biq-bb-tab-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 80px);
}

/* For Webkit browsers like Chrome, Safari */
.biq-bb-tab-container::-webkit-scrollbar {
    width: 8px;
}

.biq-bb-tab-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.biq-bb-tab-container::-webkit-scrollbar-thumb {
    background: #888; 
}

.biq-bb-tab-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* For Firefox */
.biq-bb-tab-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}


.biq-bb-title-div {
    display: flex;
    padding: 5px 10px;
    font-weight: 600;
    background-color: #eee;
}

.biq-bb-content-div {
    padding: 10px;
    font-size: 15px;
}

.biq-bb-btns-div button, .biq-bb-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    background-color: #dedede;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.biq-bb-btns-div button:hover{
    background-color:#bbb;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);  /* This slightly raises the button on hover for a "lifting" effect */
}

.biq-bb-btns-div button:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);  /* This slightly lowers the button on active click to give a "pressing" effect */
}

.biq-bb-billboard-types-div {
    margin-top: 10px;
}

.billboard-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* This aligns items to the start of the flex container */
    justify-content: flex-end; /* This pushes items to the end of the container */
    overflow: hidden; 
}

.billboard-type img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container */
    flex-shrink: 0; /* This ensures the image doesn't shrink */
    order: -1; /* This ensures the image is always first in the flex container */
}

.billboard-type div {
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5); /* Gives the text a semi-transparent background for better readability */
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.text-color-yellow {
    color: #F4B400;
}

.text-color-red {
    color: #DB4437;
}

.text-color-blue {
    color: #4285F4;
}

.text-color-green {
    color: #0F9D58;
}

.biq-bb-input-div {
    display: flex;
    padding: 5px 10px;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
}

.biq-bb-input-title {
    width: 40%;
}

.biq-bb-input-div select, .biq-bb-input-div input {
    width: 50%;
    padding: 5px;
}

.biq-link-btn {
    border: none;
    color: #4285F4;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background: transparent;
}

.biq-bb-bottom-div {
    display: flex;
    justify-content: end;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.biq-bb-reset-btn {
    background: #DB4437;
    color: #fff;
}

.biq-bb-calc-btn {
    background:#4285F4;
    color: #fff;
}

.biq-bb-btn:hover {
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);  /* This slightly raises the button on hover for a "lifting" effect */
}

.biq-bb-group-div {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 10px;
    background: #fafafa;

}

.biq-content-align-end {
    justify-content: flex-end;
}
